<%= form_for :exercise, url: exercises_path do |f| %>
  <p>
    Subject<br>
    <%= f.text_field :subject %>
  </p>

  <p>
    Description<br>
    <%= f.text_area :description %>
  </p>

  <p>
    Assignee<br>
    <%= f.text_field :assignee %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
