
<p>
  <strong>Subject:</strong>
  <%= @task.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @task.assignee %>
</p>

<strong>Comments:</strong>
<% @task.comments.each do |comment| %>
 <p>
   <strong><%= comment.username %></strong>: <%= comment.field %>
 </p>
<% end %>

<strong>Add comment:</strong>
<%= form_for([@task, @task.comments.build]) do |f| %>
  <p>
    User<br>
    <%= f.text_field(:username, {:class => 'form-control'}) %>
  </p>
  <p>
    Comment<br>
    <%= f.text_area(:field, {:class => 'form-control'}) %>
  </p>

  <strong style="color:red;"><%= render 'flashes' %> </strong>

  <p>
    <%= f.submit({:class => 'btn btn-success'}) %>
  </p>
<% end %>
